body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1c1c1c;
}

h1,
h2,
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}

.button {
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 60px;
}

/* nav menu */
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

.nav-menu>a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 1.2rem;
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-menu ul li {
    text-align: center;
    width: 100%;
}

.nav-menu ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

/* sub-header */
#sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../image/camera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 1.2rem;
    text-align: center;
}

#sub-header h1 {
    color: #fff;
}

#sub-header p {
    margin-bottom: 2em;
}

/* section about */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #fff;
    margin-top: 100px;
}

#about h2 {
    color: #fff;
}

#about p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#about .button {
    background-color: #f1f1f1;
    color: #1c1c1c;
}

/* section services */

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#services .service-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/* section gallery */
#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#gallery h2 {
    margin-bottom: 50px;
}

#gallery img {
    margin: 15px;
    width: 100%;
}

/* section contact */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contact h2 {
    color: #000000;
}

/* section footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #191970;
}

footer>a {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    border-radius: 100px;
    padding: 15px;
    width: 20px;
    transition: all .3s ease-in-out;
}

footer a:hover {
    background-color: rgba(255, 255, 255, 0.74);
    color: #191970;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

footer p {
    color: #fff;
}

/* media queries */

@media screen and (min-width: 760px) {

    /* nav */
    .nav-menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-menu>a {
        margin-top: 0;
        margin-left: 1.2rem;
    }

    .nav-menu ul {
        flex-direction: row;
        width: 70%;
    }

    /* sub-header */
    #sub-header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #sub-header p {
        text-align: center;
        max-width: 800px;
    }

    /* section about */
    #about {
        height: 500px;
        height: 40vh;
        justify-content: center;
        min-height: 250px;
    }

    /* section services */
    #services {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #services h2 {
        text-align: center;
        width: 100%;
    }

    .service-img {
        justify-content: space-around;
        margin: 10px;
        flex-grow: 1;
        flex-basis: 200px;
        padding: 0 10px;
    }

    /* section gallery */

    #gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #gallery h2 {
        width: 100%;
        text-align: center;
    }

    #gallery img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        margin: auto;
        margin-bottom: 50px;
        padding: 0;
    }

    /* section contact */
    #contact {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contact h2,
    #contact p {
        width: 100%;
    }
}